.product-section {
    display: flex;
    flex-basis: 120px;
    flex-shrink: 1;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    padding-left: 20px;
    min-height: 150px;

    &:hover {
        cursor: pointer;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }
}

.product-thumbnail {
    max-width: 150px;
    height: 150px;
    margin-right: 20px;
}

.section-detail {
    flex-basis: 700px;
    flex-shrink: 1;
    align-self: center;
    min-height: 100px;
    margin: auto;
    text-align: left;
    color: #58595a;
}

.product-price {
    font-size: 1.4em;
}

.address-info {
    font-size: 0.8em;
    flex-basis: 400px;
    text-align: center;
    color: #a8a9aa;
}

@media (max-width: 600px) {
    .product-thumbnail {
        max-width: 100px;
        height: 100px;
    }
}
