h2 {
    color: #424344;
}

.wrapper {
    display: flex;
    width: 50%;
    color: #58595a;
    background-color: #feffff;
    margin: auto;
    margin-bottom: 50px;
}

.picture-description {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    width: 60%;
    padding-left: 2em;
    padding-top: 2em;
}

.picture {
    width: 60%;
    padding-left: 50px;
    margin-bottom: 30px;
}

.description {
    color: #8d8d8d;
}

.price-section {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    width: 40%;
    padding: 2em;

    span {
        font-size: 0.8em;
    }

    h2 {
        font-size: 1.3em;
    }

    p {
        font-size: 2em;
        font-weight: 500;
        margin-top: 0;
    }

    button {
        background-color: #3383fb;
        color: #ffffff;
        font-size: 1.1em;
        border: none;
        border-radius: 5px;
        width: 90%;
        height: 60px;

        &:hover {
            cursor: pointer;
            background-color: #2968c8;
        }
    }
}

@media (max-width: 700px) {
    .wrapper {
        width: 95%;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .picture {
        margin: auto;
        padding: 0;
    }

    .picture-description {
        padding-left: 0;
        width: 80%;

        h2 {
            margin-top: 50px;
            text-align: center;
        }
    }

    .price-section {
        width: 80%;
        margin: auto;
        align-items: center;
        justify-content: center;

        h2 {
            text-align: center;
        }

        button {
            width: 50%;
            height: 50px;
        }
    }
}
