h2 {
    color: #424344;
}

.wrapper {
    display: flex;
    width: 50%;
    color: #58595a;
    background-color: #feffff;
    margin: auto;
}

.thumbnail-description {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    width: 70%;
    padding: 2em;
}

.thumbnail {
    width: 70%;
    padding-left: 50px;
    margin-bottom: 100px;
}

.description {
    color: #8d8d8d;
}

.price-section {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    width: 40%;
    padding: 2em;

    span {
        font-size: 0.8em;
    }

    h2 {
        font-size: 1.3em;
    }

    p {
        font-size: 2em;
        font-weight: 500;
        margin-top: 0;
    }

    button {
        background-color: #3383fb;
        color: #ffffff;
        font-size: 1.1em;
        border: none;
        border-radius: 5px;
        width: 90%;
        height: 60px;

        &:hover {
            cursor: pointer;
            background-color: #2968c8;
        }
    }
}

@media (max-width: 600px) {
    .wrapper {
        width: 95%;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .thumbnail {
        padding: 0;
    }

    .price-section {
        width: 80%;
    }
}
